@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
    url('../fonts/Oswald-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Light.woff2') format('woff2'),
    url('../fonts/Oswald-Light.woff') format('woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Heavy';
  src: url('../fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff');
}
