/*
   Import partials below
*/
@import './variables.scss';
@import './fonts.scss';
@import './basic.scss';
@import './normalize';
.container {
   width: 100%;
   width: 274px;
   margin: 0 auto;
   padding: 0;
   padding-top: 21px;
   

   
}
.header{
   width: 100%;
   padding-bottom: 105px;
   height: auto;
   background: url("/images/header-bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url('/images/header-bg.svg');
   background-position: bottom;
   background-repeat: repeat;
   background-size: cover;
   position: relative;
   z-index: 1;
}
.logo {
   display: block;
   margin-bottom: 74px;
}
.header__text {
   color: $color-white;
   font-family: $font-Helvetica;
   font-size: 16px;
   font-weight: bold;
   line-height: 22px;
   letter-spacing: 0.48px;
   margin: 0 auto;
   text-align: center;
   width: 67%;
   margin-bottom: 35px;
}
.header__headline{
   font-family: $font-Helvetica;
   font-size: 20px;
   font-weight: 700;
   line-height: 26px;
   letter-spacing: 0.8px;
   color: $color-white;
   text-align: center;
   margin-bottom: 36px;
  
}
.header__more{
   display: block;
   margin: 0 auto;
   color: $color-white;
   font-family: $font-Helvetica;
   font-size: 15px;
   font-weight: 700;
   text-transform: capitalize;
   letter-spacing: 0.9px;
   text-decoration: none;
   text-align: center; 
}
.header::after {
   content: url('images/kids.svg');
   position: absolute;
   left: 50%;
   bottom: -35px;
   z-index: 2222;
   transform: translate(-50%,-50%);
}