.form_education-section {
  background: url('/images/section-2-bg.svg') no-repeat bottom;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form_education-title {
  font-family: "Oswald";
  font-weight: 900px;
  font-size: 15px;
  text-align: center;
  position: relative;

  &::before {
    content: '[';
    display: block;
    position: absolute;
    left: 92px;
    bottom: 0;
    color: #fed163;
  }

  &::after {
    content: ']';
    display: block;
    position: absolute;
    right: 92px;
    bottom: 0;
    color: #fed163;
  }
}

.form_education--item {
  display: block;
  max-width: 200px;
  margin: 0;
}

.form_education--title {
  font-family: "HelveticaNeueCyr-Bold";
  font-weight: 700;
  font-size: 20px;

  &::before {
    display: block;
    content: url('/images/favourites-filled-star-symbol.svg');
    margin: 0 auto;
    
  }
}
