*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

img{
width: 100%;
height: auto;
display: block;
}
.container{
    max-width: 300px;
}
/*SKILLS ITSELF BLOCK*/




.skills_list{
list-style: none;
}
.skills_title{
    font-size: 20px;
    font-weight: 700;
    font-family: "Helvetica";
}
.number1{
    color: #c7007c;
    font-family: "Helvetica";
}
.number2{
    color:#eec14d;
    font-family: "Helvetica";
}
.number3{
    color: #5f7cec;
    font-family: "Helvetica";
}
.skills_img{
width: 138px;
height: 138px;
margin-bottom: 30px;
}
.skills_description{
    font-family: "Helvetica";
    font-size: 14px;
}
.sk-desc-b{
    font-family: "Helvetica";
    font-size: 14px;
}

.skills_list_basic{
    padding: 0 10px 0;
    // text-align: center;
    max-width: 290px;
}
.skills-block{
    display: block;
    padding-bottom: 20px;
}
.m5-title{
    font-size: 15px;
    text-transform: uppercase;
    padding: 50px 0 20px 0;
    font-family: "Oswald";
    text-align: center;
    &::before{
        content: '[';
        color: #f3d071;
    }
    &::after{
        content: ']';
        color: #f3d071;
    }
}

.enroll-btn{
    background-color: #f3d071;
    border: none;
    height: 55px;
    width: 270px;
    border-radius: 30px;
    margin: 20px 0 20px 0;
    box-shadow: 0 10px 20px #f9e8bd, 0 6px 6px #f9e8bd;
    font-family: "Helvetica";
    color: #fff;
    font-size: 13px;
    &:hover{
        background-color: #e4c162;
        cursor: pointer;
        box-shadow: none;
    }
}

@media (min-width: 768px) {
  .skills_list_basic {
    max-width: 1220px;
    width: 100%;
  }

  .skills-list {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .skills-block {
    max-width: 290px;
    margin: 0 10px;
  }

  .enroll-btn {
    display: block;
    margin: 0 auto;
  }

  .skills_list_basic {
    padding-bottom: 100px;
  }
}
