.container-eight {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 1rem;
}

.eight-section {
  background-image: url('../images/section-8-bg.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 38px 10px 3px 10px;
}

.first-part {
  margin: 0 auto;
  margin-bottom: 26px;

  &__title {
    margin: 0 auto;
    margin-bottom: 18px;
    color: $color-white;
    font-family: $font-Oswald;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__title--span {
    color: $color-yeollow;
  }

  &__content {
    margin: 0 auto;
    color: $color-white;
    font-family: $font-Helvetica;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 227px;
    letter-spacing: 0.48px;
  }
}

@media (min-width: 768px) {
  .eight-section {
    background-image: url('../images/section-8-bg.png');
    background-position: center -90px;
  }

  .first-part {
    margin: 0 60px 20px 60px;
    position: relative;

    &::after {
      display: inline-block;
      position: absolute;
      content: '';
      top: 30px;
      right: 40px;
      width: 183px;
      height: 118px;
      background-image: url('../images/eight-sec-planet.png');
      background-repeat: no-repeat;
    }

    &__title {
      margin-bottom: 30px;
      font-size: 20px;
      text-align: left;
    }

    &__content {
      margin: 0;
      width: 360px;
      font-size: 25px;
      letter-spacing: 0.5px;
      text-align: left;
    }
  }

  .back {
    margin: 0 auto;
    padding-top: 40px;
    background-image: url('../images/eight-sec-confetti.png');
    background-size: contain;
    width: 602px;
    height: 100%;

    &__certificates-foto {
      margin: 0 auto;
      width: 412px;
      height: 344px;
    }
  }
}

@media (min-width: 1215px) {
  .eight-section {
    display: flex;
    position: relative;
    height: 680px;
  }

  .eight-section .container-eight {
    display: flex;
  }

  .first-part {
    padding-top: 8rem;
    margin: 0;
    margin-bottom: 0;

    &__title {
      margin-bottom: 50px;
      font-size: 30px;
    }

    &__content {
      font-size: 35px;
      width: 506px;
    }
  }

  .first-part::after {
    top: 1rem;
    right: -30px;
  }

  .back__certificates-foto {
    margin: 0 auto;
    width: 572px;
    height: 480px;
  }

  .back {
    width: 842px;
    height: 100%;
  }
}
